@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-display: swap;
}

/* --- CUSTOM SCROLLBAR (Luxury Look) --- */

/* Το "αυλάκι" της μπάρας */
::-webkit-scrollbar {
  width: 10px;
}

/* Το φόντο της μπάρας */
::-webkit-scrollbar-track {
  background: #fafaf9; /* stone-50 */
}

::-webkit-scrollbar-thumb {
  background: #a3b18a; /* Πιο σκούρο olive για καλύτερο contrast */
  border-radius: 5px;
  border: 2px solid #fafaf9;
}

/* Όταν πας το ποντίκι πάνω στη λαβή */
::-webkit-scrollbar-thumb:hover {
  background: #606c38; /* olive-500 (έντονο) */
}

/* Smooth Scrolling για όλο το site */
/*html {
  scroll-behavior: smooth;
}*/

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

